@{
    ViewData["Title"] = "Home Page";
}
<body>
    <div class="container d-flex justify-content-center align-items-center flex-column">
        <div class="info-text text-center mb-4">
            <p>Welcome to our online banking platform. Enjoy convenient and secure banking services from anywhere.</p>
            <p>Register today to access a wide range of online banking features.</p>
        </div>
        <div class="action-buttons text-center">
            <p>@Html.ActionLink("Register Now", "Create", "User", null, new { @class = "btn btn-primary" })</p>
            <p>@Html.ActionLink("Open Account", "AddAccount", "AccountProfile", null, new { @class = "btn btn-primary" })</p>
            <p>@Html.ActionLink("Login", "Login", "User", null, new { @class = "btn btn-primary" })</p>
        </div>
    </div>

   

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>